* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif
}

.container h1 {
    text-align: center;
    padding: 15px 0px;
}

.bloco1 {
    width: 100%;
    background-color: red;
    color: whitesmoke;
}

.bloco2 {
    width: 100%;
    background-color: blue;
    color: whitesmoke;
}

form {
    margin: 0 auto;
}

.blocoFormulario {
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    color: black;
    font-size: 16px;
    background-color: whitesmoke;
    border-radius: 10px;

    display: flex;
    justify-content: flex;
    align-items: center;
}

.blocoTexto {
    margin-bottom: 10px;
    padding: 1px;
    /* width: 100%; */
    /* border-radius: 20px; */
}

.buttonEnviar {
    /* width: 80%; */
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

#textarea {
   height: 100px; 
}

input[type=submit]:hover {
    background-color: rgb(133, 204, 133);
    cursor: pointer;
    color: white;
    transform: scale(1);
}